<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Button | Componenet Library</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Buttons | Componenets Library</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="title">
        <h1>Buttons</h1>
    </div>
    
    <div class="breadcrumbs-wrap">
        <div class="breadcrumbs">
            <a href="/">Components Library</a> > <a href="/components/buttons/">Buttons</a> 
        </div>
    </div>

    <div class="buttons-list-wrap">
        <div class="buttons-list">
            
            <a href="simple-button.html">
                <button type="button" class="button1">
                    Simple Button
                </button>
            </a>
            <a href="hover-button.html" style="margin-left: 30px;">
                <button type="button" class="button2">
                    Hover Button
                </button>
            </a>
            <a href="smooth-hover-button.html" style="margin-left: 30px;">
                <button type="button" class="button3">
                    Smooth Hover
                </button>
            </a>
            
        </div>
    </div>

</body>

</html>
    
</body>
</html>